#mainwidgetcontainer {
    border: ascii orange;
}

Directory {
    height: 100%;
    width: 100%; 
     
}

Directory DataTable {
    height: 100%;
    width: 100%;
    margin: 1; 
    padding: 1;
    border: ascii deepskyblue;
    scrollbar-size-vertical: 1;
    background: $surface;
}

Direcotry Scrollbar {
    scrollbar-size: 1 1;
}

Directory Label {
    height: auto;
    width: 100%;
    text-align: center;
    padding: 1;
    text-style: bold;
}

Viewer DataTable {
    height: 100%;
    width: 50%;
    padding: 2;
}

Viewer Center {
    padding: 1;
    border: ascii deepskyblue;
}

Mail Tabs {
    margin: 2;
    height: 3;
}

Mail ContentSwitcher {
    border: ascii deepskyblue;
    margin: 2;
    height: 1fr;
}

Clock Vertical {
    height: 100%;
    width: 100%;
}

Clock Label {
    height: 50%;
    width: 100%;
    margin: 1;
    content-align: center bottom;
}

Clock Horizontal {
    height: 50%;
    width: 100%;
    margin: 1;
}

Clock RadioButton {
    width: 1fr;
}

#past_button {
    content-align: right top;
}

#present_button {
    content-align: center top;
}

#future_button {
    content-align: left top;
} 

Radio Vertical {
    height: 100%;
    width: 100%;
}

Radio #radio_label {
    width: 100%;
    height: 35%;
    padding: 2;
    content-align: center bottom;
}

Radio Horizontal Input {
    content-align: center top;
    width: 10%;
}

Radio Horizontal Label {
    width: 48%;
    text-align: right;
    padding-right: 2;
    offset-y: 1;
}

Radio Horizontal {
    height: 14%;
    margin: 2;
}

Help {
    margin: 1;
    padding: 2 1;
    border: ascii deepskyblue;
}