TopHeader > Horizontal {
    border: ascii orange;
    width: 100%;
    height: 100%;
    padding: 0 5;
}

#title {
    width: 100%;
    height: 100%;
    padding-right: 5;
    content-align: center middle;
}

#title_button {
    width: auto;
    height: 100%;
    content-align: center middle;
    color: deepskyblue;
}